<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalXpert</title>
    <link rel="stylesheet" href="../scss/index.css">
    <link rel="shortcut icon" href="../img/alvo.png" type="image/x-icon">
</head>

<body>
    <nav>
        <!-- TITULO -->
        <h1>DigitalXpert</h1>

        <!-- LINKS DO NAVBAR -->
        <div id="nav">
            <a href="#">Home</a>
            <a href="#">Sobre Nós</a>
            <a href="#">Serviços</a>
            <a id="faleconosco" href="#">Fale conosco</a>
        </div>
    </nav>

    <!-- SEÇÃO 1 -->

    <section>
        <div id="divsec">
            <!-- DIV 1 -->

            <div id="div1">
                <div id="texto">

                    <p style="width: 100% ;letter-spacing: 10px;text-align: center;"><b>você achou a
                            melhor</b><br><br>
                    <p style="font-size: 70px;text-align:center;margin-bottom: 50px;"><b>Agência Digital</b></p>
                    </p>
                    <p style="font-size:20px; text-align:left; margin-left: 10px;margin-right: 10px;"> Nossa missão é
                        capacitar nossos clientes a prosperar
                        no
                        mundo digital em
                        constante mudança. Nossos valores fundamentais incluem excelência, inovação, colaboração e
                        compromisso
                        com o sucesso do cliente. Acreditamos que cada projeto é uma oportunidade de criar algo
                        único e
                        impactante, combinando nossa criatividade com as necessidades específicas de nossos clientes.
                        <br><br>
                        <button style="margin-top: 10px;">CONTRATE AGORA</button>
                    </p>
                </div>


            </div>

            <!-- DIV 2 -->

            <div id="div2">

                <img src="../img/25860667_7088807.jpg" alt="market" width="130%">

            </div>
    </section>

    <section id="sec2">
        <p id="negocio">Oque podemos fazer pelo seu negócio</p>
        <div id="container">
            <div id="quadro1" class="quadros">
                <img src="../img/midia-social.png" alt="digital" width="64px">
                <P id="p1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi rerum eos aspernatur enim ab
                    hic,
                    ipsum consequuntur quaerat itaque nesciunt facere alias eaque dolorem? Maiores illo iusto rem
                    placeat?
                </P>
            </div>

            <div id="quadro2" class="quadros">
                <img src="../img/alvo.png" alt="digital" width="64px">
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt quos necessitatibus ipsum,
                    nemo
                    amet ratione pariatur ex quisquam illum odit. Ratione, error quas maxime exercitationem assumenda
                    perferendis facilis iusto?
                </P>
            </div>

            <div id="quadro3" class="quadros">
                <img src="../img/midia-social.png" alt="digital" width="64px">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi non explicabo consequuntur repellat
                    illum
                    quia magnam quisquam esse neque, dolor reiciendis, veritatis laudantium in voluptates, repellendus
                    voluptas animi. Delectus, necessitatibus?
                </p>
            </div>

        </div>
        </div>


    </section>
    <img id="img" style="position:fixed;float: left;" src="../img/174879.png" alt="whatsapp" width="80px" height="80px">

    <footer>




        <div>
            <p>PROGRAMAÇÂO WEB YT</p>
        </div><br>
        <div>
            <p>&copy; Maisson Leal da Silva</p>
        </div>
    </footer>










    <script src="../js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>