/*
-- Estilos CSS - Website do IFSUL
*/

/*
-- Padrões e Reset
*/

/* 1 - Zerar as margens retirar os marcadores das listas tirar bordas e subtitulos retirar negrito*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img,
fieldset {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}




/*
-- Tipografia e Cores
*/

/* 14 - Estilizando Fontes 
/*  */
body {
    font-family: Candara, Verdana, sans-serif;
}

p {
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    text-align: justify;
}

#conteudo-principal h1 {
    font-size: 36px;
    margin-bottom: 0.5em;
}

#conteudo-principal h2,
#conteudo-secundario h1 {
    font-size: 24px;
    margin-bottom: 0.5em;
}

#conteudo-secundario p {
    font-size: 14px;
}

#conteudo-principal ul,
#conteudo-principal ol {
    font-size: 16px;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}


/*
-- Estrutura
*/


/* 2 e 3 -Lagura da página fixa 960px   */
/* margem superior e inferior 0 e esquerda e direita auto para central                                  */
#cabecalho,
#conteudo,
#rodape {
    width: 986px;
    margin: 0 auto;
}



/* /* 3 - Foto do campus  */
#foto-principal {
    height: 350px;
    background: #b6b6b6 url("../imagens/foto_ifsul.jpg") no-repeat center top;
}




/* /* 4 - rodape-fora ocupar toda largura ver HTML  */
#rodape {
    background: #808080;
}



/* 5 - Cabeçalho com posicionamento relativo*/
#cabecalho {
    position: relative;
}



/* 6 - Flutuar a logomarca para a esquerda - logo */
#logo {
    padding: 5px 0;
    display: block;
    float: left;
}

#logo img {
    display: block;
}





/* 8 - Posicionando o menu principal */
#menu-principal {
    position: absolute;
    top: 26px;
    right: 0;
}




/*9 - Estilizando o menu principal - menu-pricipal*/
#menu-principal li {
    display: inline;
}

#menu-principal a {
    display: block;
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    margin-left: 32px;
}



/*10 - Estilizando o menu principal  - menu-pricipal hover e ativo  */
#menu-principal a:hover,
#menu-principal a.ativo {
    color: #0f599f;
}

#menu-principal a.ativo {
    font-weight: bold;
}



/*11 - Dividir em duas partes: conteúdo principal e conteúdo secundário

/*  */
#conteudo {
    margin: 30px auto;
}

/*  */
#conteudo-principal {
    float: left;
    width: 620px;
    padding: 20px;
}

#conteudo-secundario {
    float: right;
    width: 280px;
}


/* /*12 - Estilizando rodapé  */


#telefone-email {
    float: left;
    font-size: 16px;
    color: #FFF;
    margin: 12px 0;
}

#telefone-email span.ddd {
    font-size: 0.8em;
}

#endereco {
    float: right;
    text-align: right;
    color: #FFF;
    font-size: 14px;
    margin: 12px 0;
}



/* /*13 - Estilizando rodapé - parte 02  */
#copyright {
    font-size: 11px;
    color: #d9d9d9;
    clear: both;
    display: block;
    padding: 1em 0;
}






/*
-- Estilos específicos de Seção
*/

/* /*11 - Colocar a cor de fundo menu secundário:  parte 02 */

#bd-home #conteudo-secundario {
    background: #0f599f;
    color: #FFF;
}



/* /*11 - Colocar a cor amarela no Saiba Mais:  parte 03  */
#bd-home #conteudo-secundario a {
    color: #FF0;
}


/*
-- Formulários
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/


/* 7 -  Para que a flutuação da Logo  seja finalizada - grupo*/
.grupo::before,
.grupo::after {
    content: " ";
    display: block;
}

.grupo::after {
    clear: both;
}